<p>This is the scenarioEdit view.</p>




<form ng-model="postScenario">
	

	<div class="form-group"> 
		<label for="ScenarioId">Id Сценария</label> 
		<input type="text" class="form-control" ng-model="postScenario.ScenarioId" placeholder="Id Сценария"> 
	</div> 
	<div class="form-group"> 
		<label for="ScenarioId">Имя Сценария</label> 
		<input type="text" class="form-control" ng-model="postScenario.Name" placeholder="Имя Сценария"> 
	</div> 
	<div class="form-group"> 
		<label for="ScenarioId">Plan Id</label> 
		<input type="text" class="form-control" ng-model="postScenario.PlanId">
	</div>
	<div class="form-group"> 
		<label for="ScenarioId">Описание сценария</label> 
		<input type="text" class="form-control" ng-model="postScenario.Description" placeholder="Описание сценария"> 
	</div> 

	<button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="saveDataScenario(postScenario)">Submit</button>
	

</form>

<h1>{{model.message}}<h1>




